/*
* Plumage V 1.2
****CHANGES MADE*****
*  - MINIFIED GRID SYSTEM CSS. WENT FROM 200 LINES OF CODE TO 90.
* 05/18/2017
* Author: Alex Garcia
* GRID SYSTEM
*/

/*TEMPORARY RULES*/
*{
  box-sizing: border-box;
}

h1{
  text-align: center;
  color: #333333;
}
/*END TEMPORARY RULES*/


/*CONTENT CONTAINER BASED ON 960PX*/
.container{
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}

/*LARGER SIZED CONTAINER TO GIVE USERS OPTION OF 960 STANDARD OR A LARGER 1280PX VIEW*/
.container-lg{
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}


/* ------------------------GRID SYSTEM------------------------- */
/*Currently this grid system is for the desktop view. need to work on mobile view*/


/*Creates row for columns to be centered within and not overflow*/
.row{
  padding: 20px;
  width: 100%;
  min-height: 1px;
  float: left;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  float: left;
  background-color: #00BCD4;
  min-height: 40px;
  border-radius: 5px;
  margin: 0 2.4%;
}

.col-1{width: 3.93%;}

.col-2{width: 12.66%;}

.col-3{width: 21.4%;}

.col-4{width: 30.133%;}

.col-5{width: 38.867%;}

.col-6{width: 47.6%;}

.col-7{width: 56.333%;}

.col-8{width: 65%;}

.col-9{width: 73.8%;}

.col-10{width: 82.533%;}

.col-11{width: 91.27%;}

.col-12{width: 100%;}

.row > [class^="col"]:first-child {
  margin-left: 0;
}

.row > [class^="col"]:last-child{
  margin-right: 0;
}
