/*
* Plumage V 1.0
* 5/23/2017
* Author: Alex Garcia
* Navbar css
*/


/* ------------------------Temporary css------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/*Body margin needs to be set to 0 for there to be no white space between page and borders of web browser.
*This is noticable on mobile view*/
body{
  margin: 0;
}

/* ------------------------NAVBAR------------------------- */

*{
  box-sizing: border-box;
}

.navbar{
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px -2px black;
}

.navbar ul{
  list-style: none;
  display: none;
}

.navbar-brand{
  margin: 0;
  margin-top: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  width: 100px;
  display: inline-block;
}

.navbar-logo{
  float: left;
  width: 15%;
}

.navbar-icon{
  height: 2px;
  background-color: black;
  width: 25px;
  position: absolute;
  top: 35px;
  right: 40px;
}

.navbar-icon:before{
  content: "";
  height: 2px;
  background-color: black;
  width: 25px;
  display: block;
  position: absolute;
  top: -6px;
}

.navbar-icon:after{
  content: "";
  height: 2px;
  background-color: black;
  width: 25px;
  display: block;
  position: absolute;
  top: 6px;
}
