/*
* Plumage V 1.0
* 5/23/2017
* Author: Alex Garcia
* Navbar css
*/


/* ------------------------Temporary css------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/*Body margin needs to be set to 0 for there to be no white space between page and borders of web browser.
*This is noticable on mobile view*/
body{
  margin: 0;
  background-color: #EEEEEE;
}

/* ------------------------NAVBAR------------------------- */

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/*.navbar is currently being used for header. class name will change to better reflect its purpose*/
.navbar{
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px -2px black;
  z-index: 5;
}

/*The navigation for the mobile view of the nav bar. default slides out from right to left*/
.mobile-nav{
  height: 100vh;
  background-color: #00BCD4;
  width: 16.563em;
  position: fixed;
  right: -17.188em;
  top: 0;
  box-shadow: -2px 0 8px -2px black;
  z-index: 10;
  transition:.5s; /*NEEDS TRANSITION PROPERTY HERE FOR NAVIGATION TO SLIDE BACK IN INSTEAD OF SNAPPING CLOSED*/
}

.mobile-nav ul{
  list-style: none;
  position: relative;
  top: 10%;
  padding-left: 10px;
}

.mobile-nav li{
  margin-bottom: 15px;
}

.mobile-nav a{
  text-decoration: none;
  font-size: 2em;
  color: white;
}

.openNav{
  transition: 0.5s;
  right: 0;
}

/*END MOBILE NAV STYLING*/

/*NAV BAR BRANDING STYLES*/
.navbar-brand{
  margin: 0;
  margin-top: 7px;
  font-weight: 300;
  font-size: 2em;
  width: 100px;
  display: inline-block;
}

.navbar-logo{
  float: left;
  max-width: 15%;
}

/*END NAVBAR BRANDING STLYES*/

/*THESE NEXT THREE CLASSES ARE WHAT MAKE UP THE MENU ICON. CUSTOME MADE TO MAKE A COOL LITTLE ANIMATION*/

.navbar-menu-icon{
  height: 2px;
  background-color: black;
  width: 25px;
  position: absolute;
  top: 35px;
  right: 40px;
  z-index: 15;
  border-radius: 10px;
  transition: all 1ms ease;
}

.navbar-menu-icon:before{
  content: "";
  height: 2px;
  background-color: black;
  width: 25px;
  display: block;
  position: absolute;
  top: -6px;
  border-radius: 10px;
  transition: all .5s ease;
}

.navbar-menu-icon:after{
  content: "";
  height: 2px;
  background-color: black;
  width: 25px;
  display: block;
  position: absolute;
  top: 6px;
  border-radius: 10px;
  transition: all .5s ease;
}

/*ANIMATION THAT TURNS HAMBURGER MENU INTO X BUTTON*/
.x{
  visibility: hidden;
  transition: visibility 1ms ease;
}

.x:before{
  transform: translateY(6px) rotate(45deg);
  transition: transform .5s ease;
  visibility: visible;
}

.x:after{
  transform: translateY(-6px) rotate(-45deg);
  transition: transform .5s ease;
  visibility: visible;
}

/*HIDES DESKTOP NAV MENU FOR MOBILE AND TABLET DISPLAY*/
.nav-menu{
  display: none;
}

/* ------------------------ TABLET GRID SYSTEM------------------------- */
@media screen and (min-width: 600px) {
  .navbar-brand{
    margin-top: 15px;
  }
}

/* ------------------------ ANYTHING LARGER THAN TABLET SCREEN SIZES ------------------------- */
@media screen and (min-width: 992px) {
  .mobile-nav{
    display: none;
  }

  .navbar-menu-icon{
    display: none;
  }

  .nav-menu{
    float: right;
    margin-top: 5px;
    display: block;
  }

  .nav-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-menu li{
    display: inline-block;
  }

  .nav-menu a{
    text-decoration: none;
    padding: 15px;
    display: block;
    color: #333;
  }

  .nav-menu a:visited{
    color: #000;
  }

  .nav-menu a:hover{
    color: #81C784;
  }

  .nav-menu a:active{
    color:
  }
}
