@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.navbar{
  background-color: #ffffff;
  padding: 10px;
  height: 80px;
  position: fixed;
  width: 100%;
}

.navbar ul{
  list-style: none;
  display: none;
}

.navbar-brand{
  margin: 0;
  margin-top: 7px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2em;
  width: 100px;
  display: inline-block;
}

.navbar-logo{
  float: left;
  width: 15%;
}

.navbar-icon{
  height: 2px;
  background-color: black;
  width: 30px;
  position: absolute;
  top: 30px;
  right: 20px;
}

.navbar-icon:before{
  content: "";
  height: 2px;
  background-color: black;
  width: 30px;
  display: block;
  position: absolute;
  top: -8px;
}

.navbar-icon:after{
  content: "";
  height: 2px;
  background-color: black;
  width: 30px;
  display: block;
  position: absolute;
  top: 8px;
}
