/* The Blend |  Website Example 01 */

@import 
url('https://fonts.googleapis.com/css?family=Delius+Unicase|Montserrat:400,700');

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #d4fa45;
}
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    min-width: 200px;
}
.nav-menu a, .nav-menu a:visited {
    color: #999;
}
button, .button {
    background-color: #335A07;
    border: 2px solid #fff;
    border-radius: 0;
}
.billboard{
  background: url(billboard.JPG) center center/cover;
    height: 750px;
}
.billboard h1, .billboard h2 {
    font-family: 'Montserrat', sans-serif;
}

footer{
    background: url(wood.png) center left/cover;
  }

footer p {
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 4px 4px 2px #000;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}
.dialogButtons ul li {
    display: inline;
    text-align: center;
    width: 500px;
    
}
.dialogButtons ul {
    text-align: center;
}

.dialogButtons ul li img {
    max-width: none;
    width: 400px;
    height: 400px;
    margin: -3px;
}
@media screen and (min-width: 570px) {
.dialogButtons ul li img {
    max-width: none;
    width: 250px;
    height: 250px; }
}


