.nav-menu{
  display: block;
}

.nav-menu ul{
  text-align: center;
}

.nav-menu li{
  display: inline-block;
  margin-right: 10px;
}

.nav-menu a{
  color: #333;
}

.fa-code{
  font-size: 30px;
  margin: 0 10px;
}

.billboard{
  background-color: #558B2F;
  height: 60vh;
  }

  .billboard h1{
    font-size: 3rem;
    font-family: 'Roboto', serif;
    padding-bottom: 0;
    padding-top: 80px;
  }

  .contact-container{
    margin-top: 50px;
  }

  .billboard .fa{
    font-size: 40px;
  }

  .billboard .fa-envelope{
    margin: 0 20px;
  }

.profile-photo{
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  border: 3px solid white;
  position: relative;
  top: 0;
  left: 26%;
  box-shadow: 0 0 4px 0 #000;
}


@media screen and (min-width: 375px){
  .profile-photo{
    left: 30%;
  }
}

@media screen and (min-width: 425px){
  .profile-photo{
    left: 32%;
  }
}

@media screen and (min-width: 600px){
  .profile-photo{
    left: 38%;
  }
}
