p{
  font-size: 1.5rem;
}

.nav-menu{
  float: none;
  text-align: center;
}

.nav-menu li{
  vertical-align: super;
}

.nav-menu a{
  color: #333;
  margin: 0 20px;
}

.nav-menu a:visited{
  color: #333;
}

.fa-code{
  margin: 0 5px;
}

.billboard{
  background-color: #558B2F;
  height: 60vh;
  text-shadow: none;
  color: #333;
}

.billboard h1{
  font-family: 'Roboto', serif;
  font-size: 5rem;
}

.contact-container{
  margin-top: 60px;
}

.fa-envelope{
  margin: 0 40px;
}

.profile-photo{
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  border: 3px solid white;
  position: relative;
  top: -20px;
  left: 46%;
  box-shadow: 0 0 4px 0 #000;
}

@media screen and (max-width: 600px) {
  .nav-menu{
    display: block
  }

  .nav-menu ul{
    padding-top: 10px;
  }

  .nav-menu li{
    display: inline-block;
  }

  .nav-menu a{
    margin: 0 10px;
  }

  .fa-code{
    font-size: 35px;
    margin: 0 10px;
  }

  .billboard h1{
    padding: 20% 5% 0 5%;
    font-size: 3rem;
  }

  .billboard .fa{
    font-size: 30px;
  }

  .profile-photo{
    left: 26%;
  }
}
